= simple_form_for product, html: {class: 'well form-horizontal'} do |f|
  = f.input :name
  = f.input :photo_url
  = f.input :description, input_html: {rows: 8}
  .form-actions
    = f.button :submit
